

.page-header, .page-footer
  background-color: $headerBackgroundColor
  padding: 1em

  &__title, &__copyright
    text-align: center

.left-side, .right-side
  background-color: $sidePanelBackgroundColor

.main-content
  background-color: $middlePanelBackgroundColor
