
.page-boundary
  background-color: $headerBackgroundColor

@media screen and (min-width: $tablet-min-width)
  .panels
    display: flex
    overflow: hidden
    position: absolute
    top: $boundaryHeight
    bottom: $boundaryHeight

    .panel
      // flex: 1
      padding: 1em 2em
      overflow: auto

  .page-boundary
    position: absolute
    height: $boundaryHeight
    display: flex
    justify-content: center
    align-content: center
    align-items: center
    width: 100%


    &__item
      flex: 1 1 100%
      padding: 0 2em

    &--fixed-top
      top: 0
    &--fixed-bottom
      bottom: 0
