

// fonts

$baseFontStack: sans-serif
$baseFontSize: 1.1em
$baseLineHeight: $baseFontSize * 1.1

$headingFontStack: sans-serif
$headingFontSize: $baseFontSize * 1.3
$headingLineHeight: $headingFontSize



// colours

$baseTextColor: black
$headerBackgroundColor: aquamarine
$sidePanelBackgroundColor: tomato
$middlePanelBackgroundColor: papayawhip




// sizes

$boundaryHeight: 40px
