.clearfix:before, .clearfix:after, .cf:before, .cf:after {
  content: '';
  display: table; }

.clearfix:after, .cf:after {
  clear: both; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

body {
  color: black;
  background-color: transparent;
  font-family: sans-serif;
  font-size: 1.1em;
  line-height: 1.21em; }

h1, h2, h3, h4, h5, h6 {
  color: black;
  font-family: sans-serif;
  font-size: 1.43em;
  line-height: 1.43em; }

h2 {
  font-size: 1.23em;
  line-height: 1.23em; }

h3 {
  font-size: 1.13em;
  line-height: 1.13em; }

h4 {
  font-size: 1.03em;
  line-height: 1.03em; }

h5 {
  font-size: 0.93em;
  line-height: 0.93em; }

h6 {
  font-size: 0.83em;
  line-height: 0.83em; }

p {
  margin-top: 0.5em; }

p:first-line {
  margin-left: 0.5em; }

a {
  color: inherit; }

.page-boundary {
  background-color: aquamarine; }

@media screen and (min-width: 768px) {
  .panels {
    display: flex;
    overflow: hidden;
    position: absolute;
    top: 40px;
    bottom: 40px; }
  .panels .panel {
    padding: 1em 2em;
    overflow: auto; }
  .page-boundary {
    position: absolute;
    height: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%; }
  .page-boundary__item {
    flex: 1 1 100%;
    padding: 0 2em; }
  .page-boundary--fixed-top {
    top: 0; }
  .page-boundary--fixed-bottom {
    bottom: 0; } }

.main-content {
  order: 2;
  flex: 5;
  background-color: papayawhip; }

.left-side, .right-side {
  flex: 1;
  background-color: tomato; }

.left-side {
  order: 1; }

.right-side {
  order: 3; }

.page-title {
  text-align: center; }

.copyright-notice {
  text-align: center; }

.img-responsive {
  max-width: 100%; }
